body {
    background: #f5f5f5;
    display: none;
}
body > .grid {
    height: 100vh;
}
/*.grid {
    height: 100vh;
}*/
.image {
    width: 100vh;
    max-height: 80vh;
}
.column {
    max-height: 90vh;
    max-width: 1000px;
}
.ui form input {
    border-radius: 100px !important;
}
/*.ui form input[type=text] {
    border-radius: 100px !important;
}
.ui form input[type=number] {
    border-radius: 100px !important;
}*/
.swap_container {
    position: relative !important;
    display: inline-block !important;
}
.hms-sidebar {
    width: 85px !important;
    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19) !important;
}
.hms-brand {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 10px !important;
    position: absolute !important;
}